.SkeletonLoader{
    display: flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}